@import "factories.css";
@import "top-bar.css";
@import "population.css";
@import "markets.css";
@import "charts.css";

.fill {
    flex-grow: 1;
}

.game {
    width: 100%;
    height: 100%;
    max-height: 100%;

    /* Vertical flexbox */
    display: flex;
    flex-direction: column;
    align-content: stretch;

    --top-bar-size: 80px;
    --top-bar-info-font-size: 20px;
    --top-bar-button-height: 30px;

    --factory-width: 400px;
    --factory-height: 180px;
    --factory-border-radius: 20px;
    --factory-icon-size: 35px;
    --factory-title-size: 24px;
    --factory-upgrade-size: 50px;
    --factory-capacity-height: 50px;

    --button-height: 40px;

    --fruit-of-labour-size: 100px;
    --fruit-icon-size: 25px;

    --market-list-width: 250px;
    --market-height: 80px;

    --order-menu-width: 200px;
}

.game button {
    height: var(--button-height);
    font-size: calc(var(--button-height) * 0.5);

    border-radius: 10px;
    border: none;

    animation-duration: 0.3s;

    flex-grow: 0;
    flex-shrink: 0;

    padding-left: 15px;
    padding-right: 15px;

    cursor: pointer;
}

.game button.green-line, .game button.material-icons {
    font-size: calc(var(--button-height) * 0.75);
    width: var(--button-height);
    padding: 0;
}

.game button.primary {
    background: var(--primary);
    color: var(--on-primary);
}
.game button.primary:hover {
    background: var(--primary-hover);
}
.game button.primary:active {
    background: var(--primary-light);
}
.game button.primary-container {
    background: var(--primary-container);
    color: var(--on-primary-container);
}
.game button.primary-container:hover {
    background: var(--primary-container-hover);
}
.game button.primary-container:active {
    background: var(--primary-container-active);
}
.game button.secondary {
    background: var(--secondary);
    color: var(--on-secondary);
}
.game button.secondary:hover {
    background: var(--secondary-hover);
}
.game button.secondary:active {
    background: var(--secondary-light);
}
.game button.tertiary {
    background: var(--tertiary);
    color: var(--on-tertiary);
}
.game button.tertiary:hover {
    background: var(--tertiary-hover);
}
.game button.tertiary:active {
    background: var(--tertiary-active);
}
.game button.error {
    background: var(--error);
    color: var(--on-error);
}

.game .display {
    min-height: 0;
    flex-grow: 1;

    display: flex;
    align-content: stretch;
    justify-content: stretch;
}
